{% extends 'base.html'%}
{% block content %}
{% include 'pages/_navbar.html' %}

<div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
    <div class="wrapper wrapper--w680">
        <div class="card card-1">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title">Contact Us</h2>
                <form action="{% url 'contact'%}" method="POST">
                    {%csrf_token%}

                    <div class="input-group">
                        <input class="input--style-1" type="text" placeholder="Full Name" name="name">
                    </div>
                    <div class="input-group">
                        <input class="input--style-1" type="email" placeholder="Email" name="email">
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <input class="input--style-1" type="text" placeholder="Address" name="address">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <input class="input--style-1" type="text" placeholder="Phone Number" name="phone">
                               
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <input class="input--style-1" type="text" placeholder="Message" name="message">
                    </div>
                    <div class="p-t-20">
                        <button class="btn btn-primary" type="submit">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{%endblock%}