body{
  margin: 0;
  padding: 0;
}
.navbar{
  padding: 0.25rem 0.5rem !important;
  height: 3.5rem !important; 
  background-image: linear-gradient(180deg,#4e73df 10%,#224abe 100%) !important; 
  font-size: 18px !important;
  z-index: 5 !important;
}

.nav-item{
  margin-right: 1rem;
}
.no-arrow{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.no-arrow::after{
  content: none;
}

  .divider {
    background-color: red;
    height: 5px;
    margin-bottom: 0.3rem;
  }

  .back-arrow{
    position: absolute;
    top: 0rem;
    left: 0rem;
    color: gray;
  }